{% extends 'main/base.html' %}

{% block title %} {{ app.name }} - LG STORE {% endblock %}

{% block content %}
    <p><a href="{% url 'main:index' %}">< - Ко всем приложениям</a></p>

    <h2>{{ app.name }}</h2>

    {% if app.icon %}
        <p><img src="{{ app.icon.url }}" alt="{{ app.name }}" class="app-icon-lg"></p>
    {% else %}
        <p>Иконка пока не загружена</p>
    {% endif %}

    <p>Категория:
        {% if app.category %}
            <a href="{% url 'main:category' app.category.id %}">{{ app.category }}</a>
        {% else %}
            Без категории
        {% endif %}
    </p>
    <p>
        {% if app.price == 0 %}
            Бесплатно
        {% else %}
            {{ app.price }} $
        {% endif %}
    </p>
    <p>{{ app.description|default:"Описание пока не добавлено" }}</p>
    <p>Добавлено: {{ app.created_at|date:"d.m.Y H:i" }}</p>
    <p>Скачиваний: {{ app.downloads }}</p>

    <p>Автор:
        {% if app.author %}
            {{ app.author.username }}
        {% else %}
            не указан
        {% endif %}
    </p>

     {% if user.is_authenticated %}
        {% if user.is_staff or app.author_id == user.id %}
            <p><a href="{% url 'main:edit_app' app.id %}">Редактировать</a></p>
        {% endif %}
     {% endif %}

    {% if similar_by_price %}
    <h3>Примерно за те же деньги</h3>
    {% for similar in similar_by_price %}
        <p><a href="{% url 'main:app_detail' similar.id %}">{{ similar.name }}</a> — {{ similar.price }} $</p>
    {% empty %}
        <p>Нет похожих по цене приложений</p>
    {% endfor %}
    {% endif %}

    <h4>Отзывы ({{ app.reviews.count }})</h4>

    {% for review in app.reviews.all %}
        <div>
            <p>
                <strong>{{ review.username }}</strong>
                <span>
                    {% for i in "12345"|make_list %}
                        {% if forloop.counter <= review.stars %}⭐{% endif %}
                    {% endfor %}
                </span>
            </p>
            <p>"{{ review.comment }}"</p>
            <p>
                {% if review.recommended %}
                    Рекомендует
                {% else %}
                    Не рекомендует
                {% endif %}
            </p>
        </div>
    {% empty %}
        <p>Отзывов пока нет. Будьте первым!</p>
    {% endfor %}

    <h4>Оставь отзыв</h4>

    {% if user.is_authenticated %}
        <p>Отзыв будет опубликован от имени <strong>{{ user.username }}</strong>.</p>
    {% else %}
        <p>Вы можете оставить отзыв без входа или <a href="{% url 'main:login' %}">войти</a>, чтобы подписать его своим аккаунтом.</p>
    {% endif %}

    <form method="post" action="{% url 'main:add_review' app.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить отзыв</button>
    </form>
{% endblock %}ё