{% extends 'main/base.html' %}

{% block title %} {{ app.name }} - LG STORE {% endblock %}

{% block content %}
    <p><a href="{% url 'index' %}">< - Ко всем приложениям</a></p>

    <h2>{{ app.name }}</h2>

     <p>Категория:
        {% if app.category %}
            <a href="{% url 'category' app.category.id %}">{{app.category}}</a>
        {% else %}
            Без категории
        {% endif %}
    </p>
    <p>
        {% if app.price == 0 %}
            Бесплатно
        {% else %}
            {{app.price }} $
        {% endif %}
    </p>
     <p>{{ app.description|default:"Описание пока не добавлено" }}</p>

    <p>Добавлено: {{ app.created_at|date:"d.m.Y H:i" }}</p>
{% endblock %}