{% extends 'main/base.html' %}

{% block title %} {{category.name}} - LG STORE {% endblock %}

{% block search_form %}
<form method="GET" action="{% url 'category' category.id %}">
    <input type="text" name="q" placeholder="Поиск в этой категории..." value="{{ q }}">
    <button type="submit">Найти</button>
</form>
{% endblock %}

{% block content %}
    <p><a href="{% url 'index' %}">< - Ко всем приложениям</a></p>

    <h2> Категория: {{category.name}}</h2>

     <ul>
        {% for app in page_obj %}
        <li>
            <strong><a href="{% url 'app_detail' app.id %}">{{ app.name }}</a></strong> -
            {% if app.price == 0 %}Бесплатно{% else %}{{ app.price }} $ {% endif %}
        </li>
        {% empty %}
        <li> В этой категории приложений пока нет</li>
        {% endfor %}
    </ul>

    {% if most_expensive %}
    <h3>Самое дорогое приложение в этой категории</h3>
    <p><a href="{% url 'app_detail' most_expensive.id %}">{{ most_expensive.name }}</a> — {{ most_expensive.price }} $</p>
    {% endif %}
    <p>Всего в категории: {{ page_obj.paginator.count }}</p>

    <p>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{% if q %}&q={{ q }}{% endif %}"><- Назад</a>
    {% else %}
        <span><- Назад</span>
    {% endif %}

    | Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }} |

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% if q %}&q={{ q }}{% endif %}">Вперёд -></a>
    {% else %}
        <span>Вперёд -></span>
    {% endif %}
</p>

{% endblock %}