{% extends 'main/base.html' %}

{% block title %} Новинки - LG STORE {% endblock %}

{% block content %}

    <h2>Новые приложения</h2>

    <ul>
        {% for app in page_obj %}
        <li><a href="{% url 'app_detail' app.id %}">{{ app.name }}</a> -
            Добавлено:  {{ app.created_at|date:"d.m.Y" }}
            {% if app.price == 0 %}
                Бесплатно
            {% else %}
                {{ app.price }} $
            {% endif %}
        </li>
        {% empty %}
        <li>Приложений пока нет</li>
        {% endfor %}
    </ul>

   <p>Всего приложений: {{ page_obj.paginator.count }}</p>
{% endblock %}