{% extends 'main/base.html' %}

{% block title %}Отзывы - LG STORE{% endblock %}

{% block content %}
    <h2>Отзывы наших пользователей</h2>

    {% for review in reviews %}
        <div>
            <p>
                <strong>{{ review.username }}</strong>
                <span>
                    {% for i in "12345"|make_list %}
                        {% if forloop.counter <= review.stars %}⭐{% endif %}
                    {% endfor %}
                </span>
                — Приложение:
                <a href="{% url 'app_detail' review.app.id %}">{{ review.app.name }}</a>
            </p>
            <p>"{{ review.comment }}"</p>
            <p>
                {% if review.recommended %}
                    Рекомендует
                {% else %}
                    Не рекомендует
                {% endif %}
            </p>
            <p>{{ review.created_at|date:"d.m.Y H:i" }}</p>
        </div>
    {% empty %}
        <p>Пока нет ни одного отзыва. Будьте первым!</p>
    {% endfor %}
{% endblock %}